# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit tests / coverage reports
.coverage
.cache
coverage.xml
.pytest_cache/

# Mypy cache
.mypy_cache/

# MacOSFinder_DS_store
.DS_Store

# VSC
.vscode
